
/**HTML & Body**/ 

body {
	color: rgb(49, 2, 177);
	background: #FEFCFF;
	background: -webkit-radial-gradient(center, #FEFCFF, #F0EDFF);
	background: -moz-radial-gradient(center, #FEFCFF, #F0EDFF);
	background: radial-gradient(ellipse at center, #FEFCFF, #F0EDFF);
	background-attachment: fixed;
	font-family: 'Catamaran', sans-serif;
}

/* Small devices (landscape phones, 544px and up) */
@media (min-width: 544px) {  
  html {font-size:1rem;} /*1rem = 16px*/
}
 
/* Medium devices (tablets, 768px and up)  */
@media (min-width: 768px) {  
  html {font-size:1.2rem;} /*1rem = 16px*/
}
 
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
  html {font-size:1.5rem;} /*1rem = 16px*/
}
 
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  
  html {font-size:1.5rem;} /*1rem = 16px*/    
}
 


/**Header1 and About**/ 
h1 {
	font-family: 'Bree Serif', serif;
	letter-spacing: .1rem;
	margin: 10px;
}

.bg-1 {
	margin-top: 1rem;
}

.profilePicture {
	border-radius: 50%;
	height: auto;
	object-fit: cover;
	margin: 10px;
}

a {
	color: rgba(189, 30, 155, 0.904);
	text-decoration: none;
}

.about {
	line-height: 1.6;
	margin-top: 1rem;
}


/**Navbar and links**/ 
/*
.socialmedialinks a { 
	margin-right: 1rem;
}
*/

.socialmedialinks	{
	font-size:2rem;	/*1rem = 16px*/
}

.fa-github-alt:hover {
	color: #f49b42;
}

.fa-twitter:hover{
	color: #42e5f4;
}

.fa-linkedin:hover {
	color: #1fad23;
}
